__pycache__/
*.py[cod]
*$py.class

db.sqlite3
media/
*.log
*.pot
*.pyc

staticfiles/

bin/
include/
lib/
lib64/
pyvenv.cfg

node_modules/
package-lock.json
.vscode/
.idea/
.DS_Store
Thumbs.db

*.bak
*.swp
*~
