__pycache__/
*.py[cod]
*$py.class

*/migrations/*.py
!*/migrations/__init__.py

*.log

bin/
include/
lib/
lib64/
pyvenv.cfg

node_modules/
package-lock.json

.vscode/
.idea/
.DS_Store
Thumbs.db

*.bak
*.swp
*~
